/* base style start */
@font-face {
    font-family: "Noto Sans";
    src: url('../fonts/NotoSansJP-Medium.otf');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Noto Sans", serif;
    font-size: 1.5rem;

}

:root {
    --background-page: #fbf1ea;
    --text-color: #72584d;

    --background-box: #fbf8f3;
    --shadow-box: #d9d1c9;

    --background-header: #fdcfa4;
    --text-header-color: #fdfaf4;

    --background-btn: #7c513f;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.page {
    flex-basis: 100vh;
    background-color: var(--background-page);
}

.box {
    background-color: var(--background-box);
    color: var(--text-color);
}

.title {
    padding: .5rem 1rem;
    color: var(--text-color);
    background: linear-gradient(to right,
    transparent 0%,
    var(--background-header) 15%,
    var(--background-header) 85%,
    transparent 100%);
    text-align: center;
}

.btn {
    display: block;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: var(--text-header-color);
    background-color: var(--background-btn);
}

/* base style ene */

/* header start */
#header {
    background: 50vw url("../img/background/header.jpg") no-repeat;
    background-size: contain;
    align-items: center;
    padding-left: 10%;
}

#header .box {
    width: 60vw;
    height: 80vh;
    box-shadow: -2rem -2rem var(--shadow-box);
}

#header .logo {
    gap: 1rem;
    width: 40%;
    transform: translate(-3rem, -1rem);
}

#header .logo_img {
    width: 30%;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
    transform: translateX(2rem) rotate(30deg) scale(1.2);
}

#header .content {
    margin: auto;
    padding: 1rem;
}

#header .nav {
    padding-left: 20%;
    padding-right: 20%;
}

/* header end */

/* about start */
#about {
    background: url("../img/background/about.jpg") no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;

}

#about .box {
    align-items: center;
    width: 50vw;
    height: 60vh;
    box-shadow: -2rem 2rem var(--shadow-box);
    padding: 2rem;
    gap: 2rem;
}

#about .box .title {
    width: 60%;
}

/* about end */

/* slogan start */
#slogan {
    background: center url("../img/background/slogan.jpg") no-repeat;
    background-size: cover;
    align-items: flex-end;
    padding: 2rem;
}

#slogan .box {
    align-items: center;
    width: 50vw;
    height: 50vh;
    box-shadow: -2rem 2rem var(--shadow-box);
    padding: 2rem;
    gap: 2rem;
}

#slogan .box .title {
    width: 60%;
}

/*  slogan end */

/* algorithm start */
#algorithm {
    background: -50vh url("../img/background/algorithm.jpg") no-repeat;
    background-size: contain;
    padding: 2rem;
    position: relative;
}

#algorithm .box {
    position: absolute;
    right: 3rem;
    top: 3rem;

    width: 50vw;
    height: 120vh;
    box-shadow: -2rem 2rem var(--shadow-box);
    padding: 2rem;
    gap: 2rem;
}

#algorithm .box .title {
    font-size: 1.2rem;
}

#algorithm .box .description {
    gap: 2rem;
}

#algorithm .box .description p {
    font-size: 1.2rem;
    align-items: center;
    gap: 1rem;
}

/*  algorithm end */

/* slogan start */
#delimiter {
    background: center url("../img/background/delimiter.jpg") no-repeat;
    background-size: cover;

}

/*  slogan end */

/* search start */
#search {
    background: center url("../img/background/search.jpg") no-repeat;
    background-size: cover;
    padding: 2rem;
    position: relative;
}

#search .box {
    position: absolute;
    padding: 2rem 4rem;
    left: 5rem;
    top: -10rem;
    width: 50vw;
    height: 100vh;
    box-shadow: -2rem 2rem var(--shadow-box);
    justify-content: space-between;
    gap: 3rem;
}

#search .box .title {
    width: 60%;
    align-self: center;
}

#search .box .search-form {
    flex-grow: 1;
    justify-content: space-between;
}

#search .box .search-form label {
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--background-header);
    padding: 1rem;
}

#search .box .search-form .btn {
    width: 50%;
    align-self: flex-end;
    margin: 0;
}

#search .box .search-form label * {
    font-size: 1.2rem;
    width: 50%;
}

/*  search end */