/* base style start */
@font-face {
    font-family: "Noto Sans";
    src: url('../fonts/NotoSansJP-Medium.otf');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Noto Sans", serif;
    font-size: 1.5rem;

}

:root {
    --background-page: #fbf1ea;
    --text-color: #72584d;

    --background-box: #fbf8f3;
    --shadow-box: #d9d1c9;

    --background-header: #fdcfa4;
    --text-header-color: #fdfaf4;

    --background-btn: #7c513f;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.page {
    flex-basis: 100vh;
    /*border: red 1px solid;*/
    background-color: var(--background-page);
}

.box {
    background-color: var(--background-box);
    color: var(--text-color);
}
.title {
    padding: .5rem 1rem;
    color: var(--text-color);
    background: linear-gradient(to right,
    transparent 0%,
    var(--background-header) 15%,
    var(--background-header) 85%,
    transparent 100%);
    text-align: center;
}
.btn {
    display: block;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: var(--text-header-color);
    background-color: var(--background-btn);
}
/* base style ene */

/* header style start */
#header {
    background: 50vw url("../img/background/header.jpg") no-repeat;
    background-size: contain;
    align-items: center;
    padding-left: 10%;
}

#header .box {
    width: 60vw;
    height: 80vh;
    box-shadow: -2rem -2rem var(--shadow-box);
}
#header .logo {
    gap: 1rem;
    width: 40%;
    transform: translate(-3rem,-1rem);
}
#header .logo_img {
    width: 30%;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
    transform:translateX(2rem) rotate(30deg) scale(1.2) ;
}
#header .content {
    margin: auto;
    padding: 1rem;
}
#header .nav {
    padding-left: 20%;
    padding-right: 20%;
}
/* header style end */

/* header about start */
#about {
    background:url("../img/background/about.jpg") no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;

}
#about .box {
    align-items: center;
    width: 50vw;
    height: 60vh;
    box-shadow: -2rem 2rem var(--shadow-box);
    padding: 2rem;
    gap: 2rem;
}
#about .box .title {
    width: 60%;
}
/* header about end */